/* colors steam  
    text  blue :#5fbbf5,text grey:#8f988a ,#8f98a0
 */

/*.container_mediaStudio {
  min-width: 500px;
  min-height: 400px;
  width: 500px;
  height: auto;
}
*/
/*.container_media_studio{
 width: auto;
height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/
/*.container_aside {
  width: 600px;
  height: auto;
  
}
*/